html, body {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  height: 100%;
  transition: all 300ms;
  background-image: url('../files/1.png');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

#sortable1, #sortable2, #sortable3 {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

#sortable1 li, #sortable2 li, #sortable3 li {
    padding: 5px;
    font-size: 1.2em;
    width: auto;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.kanban_board {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.15);
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 30px;
  width: 90%;
  max-width: 1360px;
}

.kanban_item {
    padding: 10px;
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.kanban_column {
    column-gap: 10px;
    width: 100%;
    min-height: 40px;
    list-style-type: none;
    padding: 10px;
    float: left;
    margin: 0;
    align-content: center;
}

.kanban_column-title {
    position: relative;
    align-content: center;
    top: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    user-select: none;
}

.kanban_add-item {
    margin-left: 5%;
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}

.kanban_add-item:hover {
  background: rgba(0, 0, 0, 0.5);
}

.popup {
    display: none;
    position: relative;
    z-index: 1000;
    margin:0 25% 0 25%;
    width:50%;
}

.popup_container {
    background-color: aqua;
}

.modal {
    display: none;
    user-select: none;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    transform: scale(1.05);
    position: relative;
    margin: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
    padding: 10px;
    background-color: rgba(72, 61, 139, 1);
}

.modal-body {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.text {
  padding: 5px;
  color: white;
  border: 1px solid rgba(255,255,255, 0.1);
  background-color: rgba(255,255,255, 0.1);
}

.text:focus {
    outline: none;
    border: 1px solid rgba(255,255,255, 0.5);
}

.save_button {
  cursor: pointer;
  padding: 5px;
  color: white;
  border: 1px solid rgba(255,255,255, 0.1);
  background-color: rgba(255,255,255, 0.1);
}

.cancel_button {
  cursor: pointer;
  padding: 5px;
  color: white;
  border: 1px solid rgba(255,255,255, 0.1);
  background-color: rgba(255,255,255, 0.1);
}

.delete_button {
  display: block;
  margin-right: 0;
  margin-left:auto;
  float: right;
  cursor: pointer;
  padding: 5px;
  color: white;
  border: 1px solid rgba(255,0,0, 0.1);
  background-color: rgba(255,0,0, 0.2);
}

.save_button:hover {
  border: 1px solid rgba(255,255,255, 0.3);
}

.save_button:focus {
  border: 1px solid rgba(255,255,255, 0.5);
}

.cancel_button:hover {
  border: 1px solid rgba(255,255,255, 0.3);
}

.cancel_button:focus {
  border: 1px solid rgba(255,255,255, 0.5);
}

.delete_button:hover {
  border: 1px solid rgba(255,0,0, 0.2);
}

.delete_button:focus {
  border: 1px solid rgba(255,0,0, 0.3);
}

.vl {
  border-left: 1px solid rgba(255,255, 255, 0.2);
  height: 100%;
}
